.Rproj.user
*.Rproj
.Rhistory
.RData
.Ruserdata
.DS_Store
data/statfiles/
tests/testthat/data/.DS_Store
tests/.DS_Store
/tests/testthat/data/
TODO
inst/doc
inst/.DS_Store
inst/rmd/.DS_Store
inst/rmd/profile_report.pdf
inst/rmd/Rplots.pdf
data/.DS_Store
